html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;

	background-color: #000000;
	color: white;
	overflow: hidden;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
	font-family: "Open Sans", sans-serif !important;
}
